﻿
@page "/Categorias/Create"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject CategoriasService categoriasService
@inject NavigationManager navigation
@inject ToastService Toast
@attribute [Authorize(Roles = "Admin")]

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />


<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

<!--owl slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<!-- nice select  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
<!-- font awesome style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />

<link href="CreateCategorias.css" rel="stylesheet" />

<PageTitle>Crear Categoria</PageTitle>


<div class="bg-box">
    <img src="/images/Fondo.jpg" alt="">
</div>

<EditForm Model="@Categorias" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card central-card shadow-lg">
            <div class="card-header text-center">
                <h2 class="card-title">Crear Categoria</h2>
            </div>
                @*Categoria ID*@
                <div class="mb-3">
                    <label for="CategoriaId" class="form-label"><strong>Categoria Id</strong></label>
                    <InputNumber class="form-control" @bind-Value="Categorias.CategoriaId" readonly></InputNumber>
                </div>

                @*Nombre*@
                <div class="mb-3">
                    <label for="Nombre" class="form-label"><strong>Nombre</strong></label>
                    <InputText class="form-control" @bind-Value="Categorias.Nombre"></InputText>
                    <ValidationMessage For="(() => Categorias.Nombre)" />
                </div>

            <div class="card-footer">
                <a href="/Categorias/Index" class="btn btn-orange bi bi-arrow-left mt-3"> Volver</a>
                <button type="submit" class="btn btn-orange bi bi-floppy mt-3"> Guardar</button>
            </div>

            </div>

        </div>
</EditForm>

@code {
    public CategoriasDto Categorias { get; set; } = new CategoriasDto();
    public string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {
        if (string.IsNullOrEmpty(Categorias.Nombre))
        {
            Toast.Notify(new(ToastType.Danger, $"El Nombre de la categoria no puede estar vacio."));
            return;
        }
        bool nombreExiste = await categoriasService.NombreExiste(Categorias.Nombre);
        if (nombreExiste)
        {
            Toast.Notify(new(ToastType.Danger, $"El Nombre de la categoria ya existe."));
            return;
        }
        await categoriasService.Guardar(Categorias);
        Categorias = new CategoriasDto();
        Toast.Notify(new(ToastType.Success, $"La Categoria ha sido registrada exitosamente."));
        await Task.Delay(3000);
        navigation.NavigateTo("/Categorias/Index");
    }
}