@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using DragonsDinner.Data
@inject NavigationManager navigation

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<link rel="stylesheet" href="/Estilos/EmailConfirmadoMensaje.css" />


<PageTitle>Email confirmado</PageTitle>

<div class="overlay"></div>
<div class="container">
    <h1>Email confirmado</h1>
    <StatusMessage Message="@statusMessage" />
    <a href="/" class="back-button btn btn-outline-secondary bi bi-arrow-left mt-3">Inicio</a>
</div>


@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error para cargar el user Id {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "Gracias por confirmar su email." : "Error para confirmar su email.";
        }
    }

}
